body {
  padding: 2rem;
}

.title {
  text-align: center;
}

.user-not-found {
  text-align: center;
  font-size: 3rem;
}

.loading {
  text-align: center;
  font-size: 3rem;
}
.input-check > label {
  display: inline;
  padding: 2rem;
}
